<div class="container">
    <div class="card">
        <div class="card-header">
            {{titulo}}
        </div>
        <div class="card-block">
            <form novalidate [formGroup]="form1"> <!--este se utiliza con ReactiveFormsModule-->
              
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" id="id" formControlName="id"> <!--ReactiveFormsModule-->
                    
                    <!--esto es la validacion del campo valida si el dato que ingreso ya existe en la base-->
                     <div *ngIf="form1.controls.id.errors && form1.controls.id.touched">
                         <div *ngIf="form1.controls.id.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                         
                         <div *ngIf="form1.controls.id.errors.valorUnico" class="alert alert-danger">
                                el registro ya existe
                         </div>
                   </div>  <!-- se usa para ReactiveFormsModule -->
                   
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre"formControlName="nombre"
                    required><!-- variable #nombre="ngModel"-->

                    <!--esto es la validacion del campo -->
                    <div *ngIf="form1.controls.nombre.errors && form1.controls.nombre.touched">
                         <div *ngIf="form1.controls.nombre.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                    </div>    
                </div>
                 <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido"formControlName="apellido" required>
                    <div *ngIf="form1.controls.apellido.errors && form1.controls.apellido.touched">
                         <div *ngIf="form1.controls.apellido.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                    </div>    
                </div>
                 <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario"formControlName="usuario"required>
                    <div *ngIf="form1.controls.usuario.errors && form1.controls.usuario.touched">
                         <div *ngIf="form1.controls.usuario.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                    </div>    
                </div>
                 <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="text" class="form-control" id="password"formControlName="password"required>
                    <div *ngIf="form1.controls.password.errors && form1.controls.password.touched">
                         <div *ngIf="form1.controls.password.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                          <div *ngIf="form1.controls.password.errors.maxlength" class="alert alert-danger">
                                el password debe contener como maximo 10 caracteres
                         </div>
                    </div>    
                </div>
                 <div class="form-group">
                    <label for="tipo">Tipo de usuario</label>
                    <input type="text" class="form-control" id="tipo"formControlName="tipo"required>
                    <div *ngIf="form1.controls.tipo.errors && form1.controls.tipo.touched">
                         <div *ngIf="form1.controls.tipo.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                    </div>    
                </div>
                <!-- se deshabilita el boton hasta que no esten todos los campos llenos-->
                <!--<button class="btn btn-default"(click)="guardarUsuario()">Registrar</button>-->
                <button class="btn btn-primary"(click)="guardarUsuario()" [disabled]="!form1.valid">Registrar</button>
                <!--resetear formulario-->
                <button class="btn btn-default"(click)="limpiarFormulario()">Limpiar</button>
            </form>
        </div>
    </div>
</div>