<div class="container">
    <div class="card">
        <div class="card-header">
            {{titulo}}
        </div>
        <div class="card-block">
            <form novalidate [formGroup]="form1">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" id="id"formControlName="id">
                    <!--esto es la validacion del campo -->
                     <div *ngIf="form1.controls.id.errors && form1.controls.id.touched">
                         <div *ngIf="form1.controls.id.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                         <!--valida si el dato que ingreso ya existe-->
                         <div *ngIf="form1.controls.id.errors.valorUnico" class="alert alert-danger">
                                el registro ya existe
                         </div>
                    </div>    
                    
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre"formControlName="nombre">
                    <!--esto es la validacion del campo -->
                    <div *ngIf="form1.controls.nombre.errors && form1.controls.id.touched">
                         <div *ngIf="form1.controls.nombre.errors.required" class="alert alert-danger">
                                el campo es requerido
                         </div>
                    </div>    
                </div>
                 <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido"formControlName="apellido">
                </div>
                 <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario"formControlName="usuario">
                </div>
                 <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="text" class="form-control" id="pass"formControlName="password">
                </div>
                 <div class="form-group">
                    <label for="tipo">Tipo de usuario</label>
                    <input type="text" class="form-control" id="tipo"formControlName="tipo">
                </div>
                <!-- se deshabilita el boton hasta que no esten todos los campos llenos-->
                <!--<button class="btn btn-default"(click)="guardarUsuario()">Registrar</button>-->
                <button class="btn btn-primary"(click)="guardarUsuario()" [disabled]="!form1.valid">Registrar</button>
            </form>
        </div>
    </div>
</div>